<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.Mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.pojo.Menu">
        <id column="id" property="id" />
        <result column="menuCode" property="menuCode" />
        <result column="menuName" property="menuName" />
        <result column="menuLevel" property="menuLevel" />
        <result column="menuParentCode" property="menuParentCode" />
        <result column="menuClick" property="menuClick" />
        <result column="menuRight" property="menuRight" />
        <result column="menuComponent" property="menuComponent" />
        <result column="menuIcon" property="menuIcon" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menuCode, menuName, menuLevel, menuParentCode, menuClick, menuRight, menuComponent, menuIcon
    </sql>

</mapper>
