<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.Mapper.RecordMapper">

    <select id="PageC" resultType="com.wms.pojo.RecordRes">
        SELECT r.*,s.name storageName,g2.name goodstypeName,u.name userIdName,u1.name adminIdName,g.name goodsName
        FROM record r,user u,goods g ,user u1,storage s,goodstype g2

            ${ew.customSqlSegment}
    </select>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.pojo.Record">
        <id column="id" property="id" />
        <result column="goods" property="goods" />
        <result column="userId" property="userId" />
        <result column="admin_id" property="adminId" />
        <result column="count" property="count" />
        <result column="createime" property="createime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods, userId, admin_id, count, createime, remark
    </sql>

</mapper>
